<h1> Advertise With Us! </h1>
<%= image_tag 'home/advertise/advertise.png', :id => 'ad' %>
<p id ="advert"> Here at We Deliver we offer partnerships to help you get your name out on the street. 
				Instead of funding your own delivery crew, we will deliver your orders for you and advertise
				your restaurants within our site. Please see the contact us page to inquire more information 
				from us. </p>