
<div class="chairs">
		<%= link_to( image_tag('home/landing/chair_about.png',  :id => "chair", :alt => "an image of a chair"), about_path)%>
		<%=link_to image_tag('home/landing/chair_range.png', :id => "chair", :alt => "an image of a chair"), restaurant_range_path%>
		<%=link_to image_tag('home/landing/chair_restaurants.png', :id => "chair", :alt => "an image of a chair"), restaurant_path%>
</div>

<div id="tablediv">
	<%=image_tag 'home/landing/chair_table.png', :class => 'table', :alt => "an image of a table with company logo"%>
</div>
