<h1>Jobs</h1>
<%= image_tag "home/jobs/jobs.png", :id => "ad" %>
<p id = "advert">
	Are you a motivated individual? Whether you are a highschool student, looking for a job in a fast pace enviroment 
	delivering meals to our customers, or you are a college graduate looking for programming experience. We have
	all kinds of opertunities here at We Deliver.  Please visit the contact us page to get more information. 
</p>
<%= image_tag "home/jobs/rocket_vespa.png", :id => "ad" %>